@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}


body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     height: 126vh;
     background-image: url(helpImg.png);
     background-size: cover;
     background-attachment: fixed;
}

/*Help page*/

h3 {
     position: absolute;
     top: 13%;
     left: 20%;
     text-align: center;
     font-size: 43px;
     color: #fff;
     font-style: italic;
}


img{
     position: absolute;
     left: 72.5%;
     top: 10%;
}


h5{
     position: absolute;
     color: #fff;
     top: 21%;
     left: 22%;
     font-size: 30px;
}


.overview{
     color: #fff;
     position: absolute;
     text-align: justify;
     top: 24.8%;
     left: 23.5%;
     font-size: 20px;
}


h4{
     color: #fff;
     position: absolute;
     top: 37%;
     left: 25.1%;
     font-size: 25px;
}


.record{
     color: #fff;
     position: absolute;
     left: 27.5%;
     top: 40.6%;
     font-size: 18px;
}


h6{
     color: #fff;
     position: absolute;
     left: 25.1%;
     top: 51.5%;
     font-size: 25px;
}


.reading{
     color: #fff;
     position: absolute;
     left: 27.5%;
     top: 55.3%;
     font-size: 18px;
}


h1{
     color: #fff;
     position: absolute;
     left: 25.1%;
     top: 66%;
     font-size: 25px;
}


.updating{
     color: #fff;
     position: absolute;
     left: 27.5%;
     top: 70%;
     font-size: 18px;
}


h2{
     color: #fff;
     position: absolute;
     left: 25.1%;
     font-size: 25px;
     top: 86%;
}


.deleting{
     color: #fff;
     position: absolute;
     left: 27.5%;
     top: 89.8%;
     font-size: 18px;
}


.h2{
     color: #fff;
     position: absolute;
     left: 22%;
     font-size: 28px;
     font-weight: bold;
     top: 101.5%;
}


.additional{
     color: #fff;
     position: absolute;
     left: 23%;
     top: 105.6%;
     font-size: 18.8px;
}


.additional a{
     color: #fff;
     font-style: italic;
     transition: 0.3s;
}


.additional a:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 5px rgb(0, 255, 255);
}




.txtbg{
     position: absolute;
     height: 109vh;
     width: 65vw;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .2);
     box-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(255, 255, 255);
     backdrop-filter: blur(15px);
     color: #fff;
     border-radius: 12px;
     left: 17.5%;
     top: 9.3%;
     z-index: -1;
}


/*Navigation*/
.home{
     position: absolute;
     color: #fff;
     top: 4.3%;
     left: 57%;  
     text-shadow: 0 0 0.5px rgb(255, 255, 255),
               0 0 15px rgb(255, 255, 255);
}

.home h4{
     font-size: 13px
}

.home:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}


.profile{
     position: absolute;
     color: #fff;
     top: 4.3%;
     left: 64.7%;
     text-shadow: 0 0 0.5px rgb(255, 255, 255),
               0 0 15px rgb(255, 255, 255);
}

.profile h4{
     font-size: 13px;
}


.profile:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}


.contacts{
     position: absolute;
     color: #fff;
     top: 4.3%;
     left: 73%;
     text-shadow: 0 0 0.5px rgb(255, 255, 255),
               0 0 15px rgb(255, 255, 255);
}


.contacts h4{
     font-size: 13px;
}


.contacts:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}


.help{
     position: absolute;
     color: #fff;
     top: 4.3%;
     left: 82.4%;
     text-shadow: 0 0 0.5px rgb(255, 255, 255),
               0 0 15px rgb(255, 255, 255);
}


.help h4{
     font-size: 13px;
}


.help:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}


.about{
     position: absolute;
     color: #fff;
     top: 4.3%;
     left: 89.5%;
     text-shadow: 0 0 0.5px rgb(255, 255, 255),
               0 0 15px rgb(255, 255, 255);
}


.about h4{
     font-size: 13px;
}


.about:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}


.copyright h6{
     top: 116.4%;
     font-size: 10px;
     position: absolute;
     bottom: 0;
     left: 46.5%;
     color: #474747;
     font-style: italic;
     cursor: default;
}



@keyframes transitionIn {
     from{
          opacity: 0;
          transform: scale3d(30px);
          background-color: rgb(0, 0, 0);
     }
}